<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url App</title>
</head>
<body>
    <h1>App to shortner url</h1>
    <form action="/shortUrls" method="post">
        <input type="url" name="fullURL" id="" placeholder="Enter the url">
        <button type="submit">Submit</button>
    </form>
    <br/>
    <table>
            <thead>
                <tr>
                    <th>Full Url</th>
                    <th>Short Url</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(urldata => { %>
                    <tr>
                        <td><a href="<%= urldata.full %>"><%= urldata.full %></a></td>
                        <td><a href="<%= urldata.short %>"><%= urldata.short %></a></td>
                        <td><%= urldata.clicks %></td>
                    </tr>
               <% }); %>
            </tbody>
    </table>
</body>
</html>